// Colores:
$primary: #2E4E2C;
$secondary: #7DAA7B;
$third : #FAF6BB;
$dark: #353534;
$light: #FFFFFF;

// Fuentes:
$large: 24px;
$medium: 16px;
$small: 14px;

// Redondeados:
$maximum: 100px;
$minimum: 34px;

// Plantilla
$container: 300px;
$containerMargin: 0 auto;

// Fuentes:
$lato: 'Lato', Arial, Helvetica, sans-serif;
$quicksand: 'Quicksand', Arial, Helvetica, sans-serif;